* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
}
nav {
    height: 121px;
}
.navbar .nav-link {
    font-size: 24px;
    color: #0AA2C0;
}
.navbar .nav-link:hover {
    font-size: 24px;
    color: #0AA2C0;
}
.navbar .nav-link.activee {
    font-weight: bold;
    color: #0AA2C0;
}
.logo {
    height: 90px;
    margin-left: 65px;
}
.navbar .navbar-brand {
    color: #0AA2C0;
    font-size: 24px;
    font-weight: bold;
}
.navbar .navbar-brand:hover {
    color: #0AA2C0;
}
.navbar ul li {
    padding-right: 40px;
}
.profile-dropdown .profile-img {
    width: 50px;
    height: 50px;
}
.profile-dropdown .profile-info {
    display: flex;
    flex-direction: column;
}
.profile-dropdown .text-muted {
    font-size: 12px;
    opacity: 0.6;
}
.wrapper {
    margin: 0 65px;
}
.breadcrumb {
    height: auto;
    margin: 0;
    margin-bottom: 26px;
}
.breadcrumb a {
    text-decoration: none;
    color: #0AA2C0;
    opacity: 0.6;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #0AA2C0;
    content: "/";
}
.breadcrumb-item.active {
    color: #0AA2C0;
    text-align: center;
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.custom-card {
    width: 100%; 
    height: 167px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px #000;
}
.custom-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-card .card-title {
    color: #0AA2C0;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.custom-card .card-subtitle {
    color: #0AA2C0;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.arrow-icon {
    width: 55px;
    height: 44px;
}
.chart-background, .data-background {
    width: 100%;
    height: 549px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-container {
    position: relative;
    height: 80%; 
    width: 90%; 
}
.data-container {
    padding: 20px;
    width: 100%;
}
.table {
    width: 100%;
    margin-top: 20px;
}
.view-all-link {
    display: block;
    margin-top: 10px;
    color: #0AA2C0;
    text-align: right;
    text-decoration: none;
}
.view-all-link:hover {
    text-decoration: underline;
}
